:root{
    --margin-tree: 5%;
}

.tree{
    font-size: 120%;
}

#tree_0{
}

#tree_1{
    /*margin-left: var(--margin-tree);*/
}

#tree_2{
    /*margin-left: calc(var(--margin-tree)*2);*/
}

.content{
    font-size: 125%;
}

div.table-a td, div.table-a th, div.table-a table{
    border: 1px solid black;
}
